@use '../custom' as *;

.contato {
    margin: 0 auto;

    .conteudo-apresentacao,
    .conteudo-contatos {
        .broche {
            i {
                font-size: 15rem;
                color: $secondary;
                margin: 0 auto;
                padding: 0;
            }
        }
    }

    .conteudo-apresentacao {
        .texto {
            text-align: justify;

            h4 {
                font-size: 2rem;
                color: $secondary;
            }

            h6 {
                font-size: 1.1rem;
                color: $cinzao;
            }
        }
    }

    .conteudo-contatos {
        .botoes {
            .btn {
                div {
                    h4 {
                        font-weight: 300;
                        font-size: 0.6rem;
                    }

                    h2 {
                        font-size: 0.6rem;
                        font-weight: 700;
                    }
                }
            }
        }

    }
}

@media(min-width:768px) {
    .contato {
        .conteudo-contatos {
        .broche {
            order: 2;
        }
        .botoes {
            order: 1;
            .btn {
                div {
                    h4 {
                        font-weight: 300;
                        font-size: 0.8rem;
                    }
    
                    h2 {
                        font-size: 1rem;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    }
    
}