@use '../custom' as *;

footer {
    font-size: 1rem;
    margin-top: 25px;
    .footer-content {
        background: $cinzinha;
        .footer-item {
            text-align: justify !important;

            h4 {
                color: $secondary;
                text-align: justify !important;
                font-size: 1rem;
                font-weight: 700;
            }

            p {
                color: $cinzao;
                text-align: justify !important;
                font-size: 0.9rem;
                font-weight: 700;
            }

            a {
                color: $primary;
                text-decoration: none;
            }

            a:hover {
                font-weight: 800;
            }
        }
    }

}

@media(min-width:768px) {
    footer {
        height: 90px;
    }
}