@use '../custom' as *;

.intro-content {
    .intro-imagem {
        img {
            width: 100%;
        }
    }
    .intro-text {
        text-align: justify;
        h4 {
            color: $cinzao;
        }
        .btn {
            display: grid;
            text-align: justify;
            gap:0px;
            height: 65px;
            width: 300px;
            padding: 0;
            i {
                margin-right: 10px;
                text-align: center;
                font-size: 2rem;
                background-color: $secondary;
                padding: 5px 1px 1px 1px;
                grid-column: 1/2;
                grid-row: 1/3;
            }
            h4 {
                color: $cinzinha;
                font-size: 1rem;
                grid-column: 2/3;
                grid-row: 1/2;
                margin: 5px;
            }
            h2 {
                margin: 5px;
                font-size: 1.2rem;
                font-weight: 700;
                grid-column: 2/3;
                grid-row: 2/3;
            }
        }
    }

}