@use '../custom' as *;
@use '../components/mixins' as *;

.mvv {
    background: $white;
    margin: 0;
    .container{
        padding: 50px;
        .missao .icone, .visao .icone, .valores .icone {
            background-color: $cinzinha;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.8rem;
            color: $secondary;
            width: 80px;
            height: 80px;
        }
        .missao .paragrafo, .visao .paragrafo, .valores .paragrafo {
            color: $cinzao;
            font-size: 0.9rem;
        } 
    }
}