@use '../custom' as *;

.horario-e-email {
    color: $secondary !important;
    font-weight: 700;
}

.menu {
    a {
        color: $primary !important;
    }
}

@media(min-width: 768px) {
    .info-nav {
        height:60px;
        font-size: 1rem;
        background-color: $cinzinha;
        color: $secondary;
        div {
            div {
                height: 60px;
                padding-top: 15px;
                p {
                    font-size: 1.0rem;
                    font-weight: 700;
                }
            }
        }
    }
}    

@media(min-width: 1200px) {
    .info-nav {
        height:60px;
        font-size: 1rem;
        div {
            div {
                height: 60px;
                padding-top: 15px;
                p {
                    font-size: 1.1rem;
                    font-weight: 600;
                }
            }
        }
    }
}    