@use '../custom' as *;

.horario-e-email {
    color: $secondary !important;
    font-weight: 700;
}

.menu {
    a {
        color: $primary !important;
    }
}

@media(min-width: 768px) {
    .info-nav {
        height:30px;
        font-size: 1rem;
        background-color: $cinzinha;
        color: $secondary;
        div {
            div {
                margin-top: 13px;
            }
        }
    }
}    