@use '../custom' as *;

.container + .clientes{
    .owl-carousel {
        .item {
            .card {
                background-color: $cinzinha;
                .card-body {
                    background-size: 90%;
                    background-position: center center;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}

.container + .projetos{
    .owl-carousel {
        .item {
            .card {
                background-color: $cinzinha;
                .card-body {
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}