@use '../custom' as *;

.nossos-servicos {
    margin: 60px 0px 60px 0px;
    .container {
        padding: 0px 15px 0px 15px;
        .linha {
            .texto {
                .conteudo {
                    .titulo {
                        text-align: justify;

                        h5 {
                            font-weight: 300;
                        }

                        h2 {
                            font-weight: 600;
                        }
                    }

                    .paragrafo {
                        text-align: justify;

                        p {
                            font-size: 1.1rem;
                            font-weight: 400;
                        }
                    }
                    .instalacoes {
                        .instalacoes-especificas {
                            i {
                                padding: 0px;
                                font-size: 2.5rem;
                                width: 40px;
                            }

                            .instalacoes-especificas_texto {
                                h5 {
                                    font-size: 1rem;
                                }

                                a {
                                    font-size: 0.8rem;

                                    i {
                                        font-size: 1rem;
                                        width: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width:768px) {
    .nossos-servicos {
        .container {
            .linha {
                .texto {
                    .conteudo {
                        .instalacoes {
                            .instalacoes-especificas {
                                i {
                                    font-size: 2.5rem;
                                }
                                .instalacoes-especificas_texto {
                                    h5 {
                                        font-size: 1.2rem;
                                    }
                                    a {

                                        i {

                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .imagem {
        margin: -100px 0px -100px 0px;

        .conteudo {
            div {
                height: 100%;
            }
        }
    }
}

@media(min-width:1200px) {
    .nossos-servicos {
        .container {
            .linha {
                .texto {
                    .conteudo {
                        .instalacoes {
                            .instalacoes-especificas {
                                i {
                                }
                                .instalacoes-especificas_texto {
                                    h5 {
                                    }
                                    a {
                                        i {

                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}